.wrapped.coloring-logo:not(:hover) > *:first-child {
  filter: grayscale(1);
}

.skill-chip:not(.wrapped):hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.skill-chip:hover,
:not(.wrapped).skill-chip {
  background-color: rgba(0, 0, 0, 0.08);
}

.skill-chip.dark:not(.wrapped):hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.skill-chip.dark:hover,
:not(.wrapped).skill-chip.dark {
  background-color: rgba(255, 255, 255, 0.16);
}

.skill-chip.dark .inner-chip-text {
  color: #fff;
}

.skill-chip {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: #848484;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  transition: background-color 0.4s ease-out;
}

.skill-chip > *:first-child {
  float: left;
  height: 32px;
  font-size: 32px;
  transition: color 0.4s ease-out 0s, filter 0.4s ease-out;
  margin-left: -5px;
}

.skill-chip > .chip-text {
  transition: max-width 0.4s ease-out;
  white-space: nowrap;
}

.skill-chip.wrapped > .chip-text {
  max-width: 0;
  overflow: hidden;
}

.skill-chip:hover > .chip-text {
  max-width: 90px;
}

.skill-chip > .chip-text > .inner-chip-text {
  padding-left: 5px;
  cursor: default;
}

.big-chip {
  height: 50px;
  border-radius: 25px;
  font-size: large;
}

.big-chip > *:first-child {
  height: 50px;
  font-size: 50px;
  margin-left: 0;
}

.big-chip > .chip-text > .inner-chip-text {
  padding-left: 10px;
}
