.actionContainer {
  align-self: stretch !important;
}

.actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.linkIcon {
  margin-right: 8px;
}
