body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, Roboto;
}

@font-face {
  font-family: 'jr-hand';
  src: url(./assets/jr-hand.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

.linkIcon {
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.MuiCardActionArea-root:hover .linkIcon {
  opacity: 1;
}
